.mainpicture{
	height:300px;
	padding-bottom:15px;
	margin-bottom:60px;
}

.thumb{
	width: 140px;
	height:140px;
	margin: 20px;
	cursor : pointer;

}
.imagetext{
	
	font-size: 18px;
	color:dark-grey;
	padding-left:150px;
}
.pictures{
	width:600px;

}